.home-div{
    width: 100vw;
    height: 120vh;
    background-image: url('../Assets/main.jpg');
    background-size: 180% 100%;
}

header{
    position:absolute;
    width: 100vw;
    height: 4.625rem;
    margin: 0%;
    padding: 0%;
    top: 0%;
    left: 0%;
    right: 0%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.home-logo{
    width: 4rem;
    height: 1.3rem;
    margin-left: 1.8rem;
    margin-top: 1.6rem;
    
    
}
.login-div{
    width: 10rem;
    height:15vh;
    margin-right: 0rem;
    
}
.login-button{
    background-color: transparent;
    margin-top: 2.36rem;
    margin-right: 3.54rem;
    border: 0cap;
    color: rgb(144, 144, 144);
    cursor:auto;
    font-family:  Graphik Web,Graphik,sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0.6px;
    cursor: pointer;
}
.homebody-div{
    position:absolute;
    width: 100vw;
    height: 85vh;
    background-color: transparent;
    margin-top: 3.5rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    column-gap: 3rem;
    
}
.plan{
    width: 20rem;
    height: 15rem;
    color: rgb(28, 231, 131);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}
.bundle-head{
    padding-bottom: 8px;
    color: rgb(28, 231, 131);
    font-family: Graphik Web,Graphik,sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .6px;
    
}
.bundle-offer{
    font-family:  Graphik Web,Graphik,sans-serif;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0px;
    line-height: 1.24;
    margin-top: 16px;
    color: white;
    text-align: center;
}
.bundle-img{
    width: 14rem;
    height: 4rem;
}
.button-bundle{
    width:100%;
    height:2.5rem;
    background-color: rgb(28, 231, 131);
    font-family: Graphik Web,Graphik,sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
}

.green-decoration{
    width: 100vw;
    height: 9.5rem;
    position: relative;
    box-sizing: inherit;
    padding-left: 8.8rem;
    padding-right: 8.8rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    display: flex;
    color: rgb(255, 255, 255);
    background: linear-gradient(180deg, #29A869 0.66%, #16181D 99.34%);
}

.greenbox-line{
    font-size: 18px;
    font-weight: 600;
    line-height: 1.32;
    text-align: center;
    font-family: Graphik Web,Graphik,sans-serif;
    margin-bottom: 1.5rem;
    
}

.greenbox-button{
    font-family: Graphik Web,Graphik,sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0.6px;
    width: 20rem;
    height: 3rem;
    background-color: transparent;
    color: white;
    cursor: pointer;
    box-sizing: border-box;
    border: 2px;
    border-radius: 4px;
    border-style: solid;
}
.black-background1{
    background-color: rgba(0, 0, 0, 0.944);
    position: relative;
    height: 80rem;
    width: 100vw;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

.library-header{
    width:70%;
    height: 10rem;
    background-color: transparent;
    position: absolute;
    align-self:inherit;
    text-align: center;
    margin-left: 15%;
    padding: 50px;
    font-family: Graphik Web,Graphik,sans-serif;
}


.library-slogan{
    font-family: Graphik Web,Graphik,sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.2px;
    color: white;
}

.library-explanation{
    font-family: Graphik Web,Graphik,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.36;
    color: white;
}

.library-items{
    width: 100vw;
    height: 45rem;
    margin-top: 15rem;
    display:flex;
    flex-direction: row;
}

.item-style{
    width: 19rem;
    height: 28rem;
    border-radius: 10px;
    cursor:pointer;
    margin-right: 10px;
}

.channel-adv{
    margin-top: 48rem;
}
.adv-slogan{
    font-size: 50px;
}
.adv-line1{
    font-size: 14px;
    padding-bottom: 2px;
}
.adv-exp{
    font-size: 18px;
}
.adv-button{
    margin: 1.4rem;
    width: 26%;
    height: 3rem;
}
.adv-note{
    font-family: Graphik Web,Graphik,sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 1 ;
    margin-bottom: 30px;
    position: relative;
    text-align: center;
    color: hsla(0,0%,100%,.6);
}
.view-channels{
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.live-sports{
    background-image: url(..//Assets/sports-bg.jpeg);
    width: 100vw;
    height: 150vh;
    background-size: 105.5% 100%;
    filter:brightness(70%);
    position: relative;
}

.livesports-header{
    width: 25rem;
    height: 3rem;
    position: absolute;
    margin-top: 12.2rem;
    margin-left: 7.7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem; 
    gap: 2rem;
    mix-blend-mode:normal;
}

.livesports-button{
    background-color: transparent;
    font-family: "Graphik Web",sans-serif;
    font-size: 12px;
    line-height: 1.125;
    font-weight: bolder;
    letter-spacing: 0.25px;
    cursor: pointer;
    color: hsla(0, 0%, 100%, 0.53);
}

.livesports-button1{
    color: white;
    position: relative;
}

.livesports-button1::after {
    content: '';
    display: block;
    border-top: 5px solid #ffffff;
    width: 100%;
    position: absolute;
    bottom: -20px; 
}

.livesports-body{
    margin-top: 21.5rem;
    margin-left: 7.7rem;
    height: 15rem;
    width: 40rem;
    position: absolute;
    color: #ffffff;
    padding: 1rem;
    font-family: "Graphik Web",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.36;

}

.livesports-title{
    margin-top: 17rem;
    height: 10rem;
    font-size: 50px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.2px;
}

.news-logo{
    margin-top: 28rem;
    margin-left: 7.7rem;
    height: 5rem;
    position: absolute;
    width: 20rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.logo-style{
    background-color: white;
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
    max-width: 88px;
    max-height: 88px;
    border-radius: 50%;
}

.news-note{
    margin-left: 7.7rem;
    margin-top:33rem ;
    margin-bottom: 0rem;
    position: absolute;
    padding: 1rem;
}